[user]
	name = SamW
	email = mail@sampersand.me

# TODO: aliases?
[core]
	excludesFile = ~/.gitignore_global
	editor = vim
	# hooksPath = ~/.sampshell/git; #!/bin/sh; echo "precmd"; x=$GIT_DIR/hooks/pre-commit; if [ -e "$x" ]; then exec "$x" "$@"; fi


[branch]
	# sort = ??

[push]
	autoSetupRemote = true

[grep]
	lineNumber = true
	patternType = perl

[init]
	defaultBranch = master

[alias]
	s  = status
	ss = status --short

	rb  = rebase
	rbm = !git rebase "$(git master-branch)"
	rba = rebase --abort

	rs = reset
	co = checkout
	com = !git checkout "$(git master-branch)" --
	cp = cherry-pick
	g = grep

	d = diff
	dm = !git diff "$(git master-branch)"
	ds = diff --stat
	dms = !git diff --stat "$(git master-branch)"
	dsm = dms
	dno = diff --name-only
	dh = "!f () { if [ $# -eq 0 ]; then set -- 'HEAD~1'; fi; git diff \"$@\"; }; f"

	m = "!f () { if [ $# -eq 0 ]; then set -- '@{-1}'; fi; git merge \"$@\"; }; f"
	mm = !git diff "$(git master-branch)"
	ma = merge --abort

	a = add
	aa = !git add --all && git status

	cm = commit-msg
	cma = cm --amend
	cmn = cm --no-verify
	cman = cm --amend --no-verify
	cmna = cman

	nb = "!f() { branch=$(git branch-name "$@") && git switch --create "$branch"; }; f"
	dirs = prev-branches

	br = branch
	brc = branch --show-current

	sw = "!f() { if [ $# -eq 0 ]; then set '@{-1}'; fi; git switch \"$@\"; }; f"
	swm = !git switch "$(git master-branch)"

	st = stash
	stp = stash pop

	f = fetch
	pl = pull
	ph = push
	phf = push --force

	nit     = commit --amend --no-edit
	current-branch = branch --show-current
	aliases = config --get-regexp ^alias\\.

	l = log

[alias]

	# oops = !git add --all && git commit --amend --no-edit && git push --force
# TODO: Only `git push --force` if a remote is available

	# Stuff from work:
	unstage = reset HEAD --
	log-short = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
 	# list branches sorted by last modified
 	b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
