[user]
	name = SamW
	email = mail@sampersand.me

# TODO: aliases?
[core]
	excludesfile = ~/.gitignore_global
	editor = subl

[branch]
	# sort = ??

[grep]
	lineNumber = true
	patternType = perl

[init]
	defaultBranch = master

[alias]
	unstage = reset HEAD --
